extends ../shared/template
block content
  button#red RED
  button#yellow YELLOW
  button#color COLOR
  input#color-value(type='color')
  br
  button#fadeIn FADE IN
  button#fadeOut FADE OUT
  input#fade-num(type='number')


  h2 Home Page!
  #a A
  #b B
  #c C
  ul
    li D
    li E
    li F
  .g G
  .h H
  .j J
  .i I
  br
  br


  footer  THIS IS A BEAUTIFUL FOOTER!!!!!

block scripts
  script(src='/js/user/main.js')
  script(src='/js/user/alpha.js')
